<div data-user-id="<%= message.id %>" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Sent by: <%= message.user.name %></div>
  </div>
  <div class="panel-body">
    Message ( <%= show_message_dialect_icon(current_user.dialect) %> ): <%= MessageTranslator.new(message.text, current_user.dialect).translate %>
  </div>
  <div class="panel-footer">Sent at: <%= l(message.created_at, format: :short) %></div>
</div>
