<!DOCTYPE html>
<html lang='eng'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div class="container">
      <% if current_user.present? %>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <ul class="nav navbar-nav">
            <li class="ative">
              <%= link_to 'Logout', destroy_user_session_path, method: :DELETE %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
