<!DOCTYPE html>
<html lang='eng'>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if current_user.present? %>
      <header class="page-header navbar navbar-static-top">
         <%= link_to 'Logout', destroy_user_session_path, method: :DELETE %>
      </header>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
